# --- SECRETS & PERSONAL INFO ---
# This hides mine real name, email, and private paths
hosts/msi-modern14c7m/variables.nix
modules/system/plymouth/whatsapp_wallpaper.jpg
.local/bin/sync_ghostty.sh

# --- NIX & SYSTEM JUNK ---
result
result-*
.direnv/
node_modules/

# --- EDITOR JUNK ---
*.swp
*.swo
.netrwhist
undo/
.DS_Store

# End of .gitignore
