# --- SECRETS & PERSONAL INFO ---
# This hides mine real name, email, and private paths
hosts/manx/variables.nix
hosts/laptop/variables.nix
secrets/secrets.yaml
modules/system/plymouth/whatsapp_wallpaper.jpg
.local/bin/sync_ghostty.sh

# --- NIX & SYSTEM JUNK ---
result
result-*
.direnv/
node_modules/
old_code.txt
old_code_full.txt
modules/system/voice/models/
*.wav
*.mp3
*.png
nixi_*.json

# --- EDITOR JUNK ---
*.swp
*.swo
.netrwhist
undo/
.DS_Store

# End of .gitignore
.aider*
aider
