{
  # Personal Info
  username = "your-username";
  fullName = "Your Full Name";
  email = "your-email@example.com";

  # System Settings
  hostname = "MANX";
  timezone = "Asia/Kolkata";
  locale = "en_IN";

  # Hardware / Performance
  cpuType = "amd";
  gpuType = "amd";
  stateVersion = "26.05";

  # EDA / VLSI Versions
  vivadoVersion = "2025.2";
}
