[SddmGreeterTheme]
Name=manx
Description=Ghost Level Maroon & Neon Green theme for Mayank
Author=Antigravity
Type=sddm-theme
Version=1.0
MainScript=Main.qml
Theme-API=2.0
QtVersion=6
