[SddmGreeterTheme]
Name=manx-vlsi
Description=VLSI Workstation - High-Fidelity Maroon & Neon Green theme
Author=Antigravity
Type=sddm-theme
Version=2.0
MainScript=Main.qml
Theme-API=2.0
QtVersion=6
