[SddmGreeterTheme]
Name=manx-vlsi
Description=VLSI Workstation - High-Fidelity Maroon & Neon Green theme
Author=Mayank Anand
Type=sddm-theme
Version=2.2
MainScript=Main.qml
Theme-API=2.0
QtVersion=6
