{
  # Personal Info
  username = "your-username";
  fullName = "Your Full Name";
  email = "your-email@example.com";

  # System Settings
  hostname = "msi-modern14c7m";
  timezone = "Asia/Kolkata";
  locale = "en_IN";

  # Hardware / Performance
  cpuType = "amd";
  gpuType = "amd";
  stateVersion = "26.05";
}
